PORT="*"
MONGODB_URI="mongodb://**************"
CORS_ORIGIN="https://*************"
GOOGLE_CLIENT_ID="*******************************************.com"
GOOGLE_CLIENT_SECRET="*********-**********-*********"
JWT_SECRET="***********"
JWT_TIMEOUT="*****"